header {
  padding: 15px 10px;
}
.topo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topo img {
  width: 150px;
}
.topo a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin: 0 5px;
}
@media (max-width: 550px) {
  .topo {
    flex-direction: column;
  }
  .topo a {
    padding: 10px;
    margin: 10px;
    border-top: 1px solid #aaadaf;
  }
}
